---
import MainLayout from "../layouts/MainLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import Banner from "../components/Banner.astro";

import { Image } from "astro:assets";
import Service1 from "../assets/service-1.png";
import Service2 from "../assets/service-2.png";
import Service3 from "../assets/service-3.png";
import Service4 from "../assets/service-4.png";

---

<MainLayout title="GlowForWomen | Where">

    <PageHeader>
        Where we work
    </PageHeader>


    <div class="py-28 w-sm">
        <div class="container wrapper">
            <p class="text-center  mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptate magni ad expedita modi rem deserunt, similique distinctio tenetur sapiente.
            </p>
        </div>
    </div>












</MainLayout>








<style lang="scss">

.service {
    margin-bottom: 10rem;
    line-height: 1.8;

    ol {

        li {
            position: relative;

            &::after {
                content: "";
                width: 1.3rem;
                height: 1.3rem;
                background-color: var(--clr-orange);
                position: absolute;
                top: 0;
                left: -3.5rem;
                transform: translateY(110%) rotate(45deg);
            }
        }
    }
}

</style>