---

---






<!-- Donate Banner-->
<section class="section-donate-banner">
    <div class="container wrapper">
        <div class="banner-text">
            <h1 class="mb-8">Support our cause with a one-time donation.</h1>
            <a href="/donate" class="btn btn-black">Donate with us</a>
        </div>
    </div>
</section>
<!-- End of Donate Banner -->








<!-- Style for css -->
<style lang="scss">

.section-donate-banner {
    width: 100%;
    padding: 10rem 0;
    background-image: linear-gradient(to bottom, rgba(245, 180, 2, 0.752), rgba(197, 117, 6, 0.786)), url(/assets/banner-bg.png);
    background-size: cover;
    background-position: top center;
    // background-attachment: fixed;

    .banner-text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    h1 {
        color: #fff;
        font-weight: bold;
        font-size: clamp(3.5rem, 7vw, 2.5rem);
        line-height: 1.5;
    }
}
</style>
<!-- End of style for css -->