---

---



	<!-- =========================== Section Values ===================== -->
	<section class="section-values py-40 relative">
		<div class="container wrapper">
			<h2 class="heading-secondary mb-20">Our core values</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
				<!-- Value 1 -->
				<div class="value value-1 fade-up">
					<i class="fa-solid fa-bullseye value-icon value-icon_1"></i>
					<h3>Our Mission</h3>
					<p>To promote and support Gender Equality and the Empowerment of Women and Girls.</p>
				</div>
				<!-- End of Value-1 -->

				<!-- Value 2 -->
				<div class="value value-2 fade-up">
					<i class="fa-solid fa-eye value-icon value-icon_2"></i>
					<h3>Our Vision</h3>
					<p>To work in partnership with other organisations and community groups to</p>
				</div>
				<!-- End of Value-2 -->
			</div>
		</div>
	</section>
	<!-- End of Values -->





    <style lang="scss">


        // ================ Section Values ==========
.section-values {
	border-bottom: 1px solid lightgray;
	background-color: #FFF7E4;

	.value {
		background-color: var(--clr-white);
		padding: 5rem 3rem;
		border-radius: 1rem;
		box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .1);
		position: relative;
		z-index: 1;
		overflow: hidden;
		transition: .2s;

		&:hover {
			box-shadow: 0 .4rem .7rem rgba(0, 0, 0, .3);
			transform: translateY(-2px);
		}
		&:hover .value-icon {
			transform: scale(.9);
		}

		&::after {
			content: " ";
			width: 200px;
			height: 200px;
			border-radius: 50%;
			background-color: red;
			position: absolute;
			top: 100%;
			left: 100%;
			z-index: -2;
			transform: translate(-50%, -50%)
		}
		&::before {
			content: "";
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-color: var(--clr-white);
			// background-color: green;
			position: absolute;
			top: 100%;
			left: 100%;
			z-index: -1;
			transform: translate(-50%, -50%)
		}

		// Icons
		&-icon {
			// background-color: red;
			display: flex;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			align-items: center;
			justify-content: center;
			margin-bottom: 2rem;
			outline: 10px rgba(0, 128, 0, 0.626) solid;
			color: #fff;
			transition: .2s;
		}

		// h3
		h3 {
			font-family: "montserrat", sans-serif;
			font-weight: bolder;
			text-transform: capitalize;
			margin: 1rem 0;
			margin-top: 3rem;
		}


		// Value 1
		&-1 {

			&::after {
				background-color: rgba(82, 129, 1, 0.236);
			}

			.value-icon {
				background-color: #538101;
				outline-color: rgba(82, 129, 1, 0.236);
			}
		}
		// Value 2
		&-2 {

			&::after {
				background-color: rgba(0, 0, 128, 0.223);
			}

			.value-icon {
				background-color: #000080;
				outline-color: rgba(0, 0, 128, 0.223);
			}
		}
		// Value 3
		&-3 {

			&::after {
				background-color: rgba(0, 26, 255, 0.7);
			}

			.value-icon {
				background-color: #001AFF;
				outline-color: rgba(0, 26, 255, 0.7);
			}
		}
	}
}
// End of section Values

</style>